<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" , content="IE=edge"/>
    <meta name="viewport" , content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../public/styles.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300;500;700&display=swap"/>
    <title>Noom</title>
</head>
<body>
<main>
        <form class="round_input_form" id="nick">
            <label>닉네임</label>
            <input type="text">
            <button>적용</button>
        </form>
        <div id="welcome">
            <form class="round_input_form" id="room-name">
                <label>방 이름</label>
                <input type="text" required>
                <button>입장</button>
            </form>
<!--            <h3>방 목록</h3>-->
<!--            <ul id="room-list"></ul>-->
        </div>
    <div id="call">
        <div id="myStream">
            <video id="myFace" autoplay playsinline width="400" height="400"></video>
            <button id="mute">음소거</button>
            <button id="camera">비디오 끄기</button>
            <select name="카메라" id="camList"></select>
        </div>
    </div>
    <!--    <div id="room">-->
    <!--        <h3></h3>-->
    <!--        <h4>명 채팅중</h4>-->
    <!--        <div id="list"></div>-->
    <!--        <form id="chat"><input type="text" placeholder="메시지 입력..."></form>-->
    <!--    </div>-->
</main>
<script async src="https://ga.jspm.io/npm:es-module-shims@1.5.4/dist/es-module-shims.js"></script>
<script type="importmap-shim">
  {
    "imports": {
      "socket.io-client": "https://cdn.socket.io/4.4.1/socket.io.esm.min.js"
    }
  }


</script>
<script src="/socket.io/socket.io.js"></script>
<script src="/shared/enum.js" , type="module"></script>
<script src="/public/js/app.js" , type="module-shim"></script>
</body>
</html>