body {
    background: #333;
    font-family: 'Gothic A1', sans-serif;
    color: #e8eaed;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hidden {
    display: none !important;
}

input:focus {
    outline: none;
}

main {
    max-width: 700px;
    margin: auto;
}

#welcome {
    width: fit-content;
    display: inline;
}

#room {
    height: 100vh;

    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#list {
    flex: 1;

    display: flex;
    flex-direction: column;

    padding: 20px;
    overflow-y: auto;

}

.message {
    list-style: none;
    border: 1px solid #555;
    border-radius: 4px;
    padding: 15px 20px;
    width: fit-content;
}

.message:not(:last-child) {
    margin-bottom: 20px;
}

.message.alert {
    padding: 10px 20px;
    text-align: center;
    width: auto;
}

.message.mine {
    text-align: right;
    align-self: flex-end;
}

.message.others {
    text-align: left;
}

#chat {
    height: 60px;
    margin: 20px;
}

#chat input {
    width: 100%;
    height: 100%;

    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #555;
    padding: 10px;
    box-sizing: border-box;
    background: transparent;
    color: #e8eaed;
}

#nick {
    margin-right: 20px;
}

.round_input_form {
    padding: 10px 20px;
    width: fit-content;
    display: inline;
}

.round_input_form label {
    margin-right: 5px;
    font-size: 12px;
    height: 50px;
}

.round_input_form input {
    border: 1px solid #555;
    border-right: none;
    border-radius: 10px 0 0 10px;
    box-sizing: border-box;
    width: 100px;
    height: 100%;
    padding: 5px;
    margin: 0;

    background: transparent;
    color: #e8eaed;
}

.round_input_form button {
    height: 100%;
    padding: 5px;
    margin: 0;
    border: 1px solid #555;
    border-radius: 0 10px 10px 0;
    box-sizing: border-box;
    background: transparent;
    color: #e8eaed;
}